/* cyrillic-ext */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}
/* greek */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}
/* vietnamese */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
 @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Qaranta */
@font-face {
    font-family: 'Qaranta';
    src: url(http://datosiot.com/fonts/qaranta.otf);
}

/*CUSTOM CSS STARTS*/
#datos, .datos-wrapper {
  margin-top: 20px;
  height: 100%;
}
.min-height-wrapper {
  min-height: 100%;
}
.content h1, .content h2,.content h3, .content h4 {
     color: #35af4a;
}
a {
     color: #047bb7 !important;
}
.btn {
     color: #000000 !important;
}
 .btn-primary {
     color: #FFFFFF;
     background-color:#047bb7 !important;
}
a:hover, a:active, a.active {
     color: #005a87 !important;
}
a.btn-primary:hover {
     color: #000000 !important;
}
a.btn-primary {
     border-color: #005a87;
}
.navbar-logo, .navbar-logo a {
     border: none;
}
 .navbar-logo a {
     background: none;
}
.navbar-brand a {
     opacity: 0;
     filter: alpha(opacity=0);
}
.navbar-nav {
     margin-top: 22px !important;
     font-size: 16px;
}
.css-header {
     background-color: rgba(255,255,255,1) !important;
}
@media screen and (max-width: 768px) {
     .css-header .navbar-collapse {
         background: #ebebeb !important;
    }
}
.css-header {
     border-bottom-color: white;
}
.css-header {
     border-bottom-width: 0px;
}
.css-header a {
     color: rgb(147, 183, 19) !important;
}
.css-header a:hover, .css-header a:active, .css-header a.active {
     color: #363636 !important;
}
.css-header-box {
     background-color: #ebebeb !important;
}
a.cart-button, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
     background-color: #ebebeb;
}
.css-header-box, .css-header-box a, .css-header-box {
     color: #047bb7 !important;
}
a.cart-button span {
     color: #047bb7 !important;
}
.navbar-toggle span {
     background-color: #047bb7 !important;
}
.css-header-box a:hover, .css-header-box a:active, .css-header-box a.active {
     color: #e8e8e8 !important;
}
body, h1, h2, h3, h4, h5, h6, p, a {
     font-family: 'Arial', sans-serif;
}
div.css-header {
     height: 80px;
     -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1) !important;
     -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1) !important;
     box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1) !important;
}
 .css-phone, .css-header-box .contact {
     display: none !important;
}
 h2 {
     font-size: 18px !important;
}
 h3 {
     font-size: 17px !important;
}
 .offerheadline h2 {
     margin: 250px 100px auto auto !important;
     color: black !important !important;
     text-shadow: 2px 1px #000 !important;
}
 .offerheadline h2 small {
     color: white !important;
     font-size: 24px !important;
}
 .navbar-logo img {
     max-width: 250px !important;
}
 .navbar-nav {
     float:right !important;
}
 .offerheadline {
     float:right !important;
     text-align: right !important;
}
 .offerheadline h2 {
     color: white !important;
}
 .btn-primary {
     color: white !important;
}
 .jumbotron {
     background-position: top center !important;
     min-height: 555px !important;
}
 .navbar-right.search input {
     color: black !important;
}
 .navbar-right img {
    margin-bottom: 10px !important;
}
 div.hidden-md.visible-sm.hidden-lg.col-sm-6.col-xs-6 {
     display:none !important;
}
.navbar-logo, .navbar-logo a {
  border-width: 0px !important;
}
.navbar-logo {
  /*margin-top: 10px !important;*/
}
.navbar-header {
  padding: 0px 15px;
}
.menu-bar {
  padding: 0px 15px !important;
}
@media(max-width: 767px) {
  .nav.navbar-nav {
    float: none !important;
  }
  .nav.navbar-nav li a{
    font-size: 14px !important;
  }
}
@media(max-width: 991px) {
  .css-header .navbar-collapse {
    background: #fff !important;
  }
  .navbar-logo img {
    width: 200px;
  }
  .nav.navbar-nav li a{
    font-size: 12px !important;
  }
}

/*CUSTOM CSS ENDS*/
