.datos-wrapper-bg {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -99;
}
.homepage-wrapper {
  height: 100%;
  position: relative;
  margin-top: -10px;
}
.first-fold {
  /*height: 650px;*/
}
.carousel-container {
  height: 100%;
  overflow-x: hidden;
}
.carousel-container img{
  width: 100%;
  height: 100%;
}
.second-fold {
  background: #eee;
  margin-top: -10px;
  padding: 40px 0px;
  height: 10%;
}
.second-fold .row {
  margin: 0px;
}
.second-fold img {
  text-align: center;
  margin: auto;
  display: block;
}
.second-fold img:hover {
  box-shadow: 1px 1px 13px 13px #e1e1e1;
  background: #fff;
}
.third-fold {
  background: rgb(147, 183, 19);
  padding: 80px 15px;
  color: #fff;
  background-image: url(/images/3rd-fld-bg.png);
  background-size: cover !important;
  background-repeat: no-repeat;
}
.third-fold h1 , .third-fold a{
  text-align: center;
  margin: auto;
  display: block;
}
.third-fold h1 {
  padding: 30px 0px;
  font-weight: 900;
  font-size: 32px;
}
.third-fold p {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}
.third-fold-content a:link, .third-fold-content a:active, .third-fold-content a:hover, .third-fold-content a:visited {
  color: #fff !important;
  text-decoration: underline;
  font-size: 16px;
}
.fouth-fold {
  background: #fff;
}
.fouth-fold h1 {
  font-weight: bold;
  font-size: 32px;
  padding: 30px 0px;
}
.fouth-fold .datos-news {
  padding: 0px 15px;
  text-align: justify;
}
.fouth-fold .datos-news img {
  max-width: 320px;
  min-height: 255px;
  margin: auto;
  display: block;
}
.fouth-fold .datos-news p {
  margin-top: 15px;
}
.footer-wrapper {
  background-image: url(/images/footer_bg.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  color: #fff;
  padding: 30px 60px;
  font-size: 16px;
}
.footer-wrapper h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}
.footer-wrapper h4 {
  font-size: 22px;
}
#map {
  height: 400px;
  width: 100%;
}
.google-maps-container {
  width: 100%;
  height: 300px;
}
.footer-right {
  background: rgb(112, 144, 0);
  box-shadow: 1px 1px 1px 4px #779800;
  padding: 15px 20px;
}
.contact-us-form-container input, .contact-us-form-container select, .contact-us-form-container textarea{
  width: 100%;
  background: #ccc;
  height: 40px;
  border-width: 0px;
  padding-left: 15px;
}
.contact-us-form-container textarea {
  height: 70px;
}
.footer-right h4 {
  text-align: center;
  font-size: 22px !important;
}
.footer-bottom {
  margin-top: 15px;
}
.contact-us-form-container .mail-btn {
  height: 40px;
  width: 200px;
  color: rgb(147, 183, 19);
  background: #fff;
  border-width: 0px;
  border-radius: 5px;
  margin: auto;
  display: block;
}
.contact-us-form-container .mail-btn:hover{
  background: rgb(147, 183, 19);
  color: #fff;
}
@media(max-width: 767px) {
  .footer-right, .footer-middle, .footer-left {
    margin-top: 40px;
  }
  .google-maps-container {
    margin-top: 20px;
  }
}

.company-form {
  max-width: 500px;
  border: 1px solid rgba(147, 183, 19, 0.5);
  padding: 0px 15px;
  background: rgb(112, 144, 0);
  color: #fff;
  margin-top: 20px;
}
.company-form h2 {
  color: #fff !important;
}
.not-found-image-container img {
  margin: auto;
  display: block;
}
.product-wrapper {
  margin-top: 20px;
}
.product-section-title {
  font-size: 24px;
  width: 170px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 10px;
  color: #35af4a;
}
.datos-product {
  text-align: center;
  margin: 10px 0px;
  box-shadow: 0px 2px 4px 0px #d4d4d4;
  padding: 10px 0px;
  background: #fff;
}
.datos-product a, .datos-product a:hover, .datos-product a:visited, .datos-product a:active {
  text-decoration: none;
  color: #000;
}
.datos-product p{
  color: #000;
}
.datos-product-title {
  font-size: 18px;
  opacity: 0.6;
  font-weight: 600;
}
.datos-product img {
  margin-top: 0px;
}
.datos-product-model {
  font-size: 14px;
  margin-top: 10px;
}
.product-details-container {
  margin: 40px 0px;
  padding: 0px 40px;
}
.product-image-container {
  background: rgba(147, 183, 19, 0.7) !important;
}
.product-image-container img {
  margin: auto;
  display: block;
}
.product-details-container h2 {
  font-weight: 900;
  color: #35af4a;
}
.product-details-container hr {
  border-color: #eee;
}
.request-quote-section {
  width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  text-align: center;
  margin-top: 40px;
  border-radius: 4px;
}
.request-quote-section input {
  width: 350px;
  height: 40px;
  border: 1px solid #35af4a;
  padding-left: 10px;
  border-radius: 4px;
}
.request-quote-section .btn {
  width: 300px;;
  height: 40px;
  background: rgb(147, 183, 19);
  color: #fff !important;
}
.product-section a:link, .product-section a:visited, .product-section a:hover, .product-section a:active{
  color: #000 !important;
  text-decoration: none;
}
.product-section-item {
    width: 220px;
    height: 180px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    background: linear-gradient(346.08deg,#ffffff,#93b713) !important;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    text-align: center;
    padding-top: 20px;
}

.product-section-item:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background: linear-gradient(313.08deg,#93B713,#ffa50091) !important;
    position: absolute;
    top: -12px;
    left: 0px;
}
.product-section-item:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.59);
}
.datos-section-item-title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 75%;
  text-decoration: underline;
  margin-bottom: 0px;
}
.datos-section-item-count {
  height: 25%;
  width: 50%;
  margin: auto;
  padding-top: 12px;
  background: red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(313.08deg,#93B713,#ffa50091) !important;
}
.breadcrumb {
  background-color: rgba(147, 183, 19, 0.7) !important;
}
.breadcrumb a:link, .breadcrumb a:hover, .breadcrumb a:visited, .breadcrumb a:active {
  color: #fff !important;
  text-decoration: underline;
}
.breadcrumb>li+li:before {
  color: #fff !important;
}
.product-container {
  margin-top: 30px;
  margin-bottom: 40px;
}
.product-section-description {
  font-size: 18px;
}
.address-section a:link, .address-section a:hover, .address-section a:active, .address-section a:visited{
  color: #fff !important;
  text-decoration: underline !important;
}
.about-wrapper .container.content {
  text-align: justify;
}
ul.footer-social-icons-container {
  margin-left: -10px;
  padding-left: 0px;
}
.footer-social-icons-container li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}
.footer-social-icons-container li img{
  width: 25px;
  height: 25px;
}
.product-section-main-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  font-family: Qaranta;
}
.product-section-sub-description {
  font-size: 16px;
}
.product-section-sub-description ol li {
  color: #35af4a;
  font-weight: 600;
}
