.flashmessagesucces,.flashmessageerror{
    position:absolute;
    width:70%;
    height:auto;
    top:0;
    left:15%;
    padding:10px;
    background-color:#dcf6e0;
    border:1px solid #02c01e;
    border-top:0;
    z-index:9999;
    text-align:center;
    display:none;
    margin:0
}
.flashmessageconfirm{
    display:block;
    width:100%;
    height:auto;
    top:0;
    padding:10px;
    background-color:#f7d5de;
    border:1px solid #f90041;
    border-top:0;
    border-left:0;
    border-right:0;
    z-index:9999;
    text-align:center;
    margin-top:-10px
}
.flashmessageerror{
    background-color:#f7d5de;
    border:1px solid #f90041
}
.flashmessagesucces p,.flashmessageerror p{
    font:14px 'HelveticaBold',Helvetica,Arial,sans-serif;
    color:#000;
    margin:0
}
.flashmessageconfirm a,.flashmessageconfirm a:hover,.flashmessageerror a,.flashmessageerror a:hover{
    font:12px 'HelveticaBold',Helvetica,Arial,sans-serif;
    color:#000;
    margin:0;
    text-decoration:underline
}
html{
    height:100%;
    width:100%
}
body{
    padding-top:70px;
    padding-bottom:20px;
    height:100%;
    width:100%;
    overflow:auto
}
img{
    max-width:100%;
    height:auto
}
iframe{
    max-width:100%
}
address{
    margin:0
}
.container{
    padding:0 15px 15px
}
table td p{
    margin:0
}
.table-cell{
    display:table-cell;
    vertical-align:middle
}
.table tbody>tr>td{
    padding:5px;
    width:20px;
    text-align:end
}
.table tbody>tr>td:first-child{
    text-align:start
}
.hyphen{
    width:15px
}
.table tbody>tr>td.closed{
    text-align:start
}
.navbar .container{
    padding:0 15px
}
.navbar-logo{
    float:left;
    margin:5px 10px -6px 0;
    border:5px solid #f1f1f1;
    border:5px solid #eee;
    border:5px solid rgba(232,232,232,0.5);
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-border-radius:2px;
    border-radius:2px
}
.navbar-logo a{
    border:1px solid #CCC;
    display:block;
    background:white;
    min-height:51px
}
.navbar-logo img{
    max-height:70px;
    max-width:170px
}
.navbar-brand{
    padding:0;
    line-height:30px;
    float:none
}
.navbar-brand a{
    color:white!important;
    margin:5px;
    display:inline-block;
    text-decoration:none
}
.navbar-right{
    background:#333;
    border:1px solid #5d5d5d;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    border-top:0;
    padding:5px 10px;
    margin-top:0;
    float:right;
    margin-right:0;
    color:white;
    height:35px;
    margin-left:5px;
    line-height:25px
}
.navbar-right img{
    max-height:30px;
    margin-left:3px
}
.navbar-right img.ideal_logo{
    height:30px;
    margin-top:-3px
}
.navbar-right i{
    width:20px;
    height:20px;
    font-size:25px;
    margin-right:5px;
    line-height:22px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.navbar-right i.fa-facebook-square{
    color:#3b5998
}
.navbar-right i.fa-twitter-square{
    color:#4099ff
}
.navbar-right i.fa-google-plus-square{
    color:#dd4b39
}
.navbar-right i.fa-linkedin-square{
    color:#007bb6
}
.navbar-right i.fa-tumblr-square{
    color:#35465c
}
.navbar-right i.fa-instagram-square{
    color:#35465c
}
.navbar-right i.fa-instagram{
    color:#fff
}
.navbar-right i.fa-color-white{
    color:#fff
}
.navbar-right i.fa-pinterest-square{
    color:#cb2027
}
.navbar-right i.fa-lock,.navbar-right i.fa-unlock{
    color:inherit;
    background:0;
    font-size:22px
}
.navbar-right a{
    color:white;
    text-decoration:none
}
.navbar-right a:hover{
    text-decoration:underline
}
.navbar-right a.contact{
    margin:0 13px 0 15px
}
.navbar-right a.cart{
    margin:0 13px 0 0
}
.navbar-right.search input{
    width:100px;
    border:0;
    background-color:transparent;
    outline:0;
    padding-left:10px;
    color:lightgray
}
.search-bar{
    display:block;
    color:white;
    height:0;
    overflow:hidden;
    transition:height .2s
}
.search-bar form{
    border-top:1px solid lightgray;
    padding:10px!important
}
.search-bar input{
    width:80%;
    border:0;
    background-color:transparent;
    outline:0;
    padding-left:10px;
    color:lightgray
}
.search-bar.active-search-bar{
    height:40px
}
ul.nav li a{
    padding:5px 5px;
    margin-right:5px;
    background:none!important
}
ul.nav li a .glyphicon{
    font-size:9px;
    padding-left:5px;
    padding-bottom:2px
}
ul.nav li:hover ul{
    display:block;
    z-index:1
}
ul.nav li ul{
    display:none;
    position:fixed;
    padding-left:5px;
    background:#222;
    min-width:120px;
    border:1px solid black;
    border-top:0;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px
}
@media(max-width:767px){
    ul.nav li ul{
        display:block;
        position:relative;
        padding-left:15px;
        border:0
    }
}
ul.nav li ul li{
    display:block;
    list-style:none
}
ul.nav li ul li.active a{
    color:white
}
ul.nav li ul li a{
    color:#999;
    text-decoration:none;
    display:block
}
ul.nav li ul li a:hover{
    color:white
}
.navbar-toggle{
    margin-top:13px
}
@media(min-width:768px){
    .navbar-nav{
        float:none;
        display:table
    }
}
@media(max-width:768px){
    .navbar-nav a{
        line-height:24px!important;
        font-size:16px;
        border-bottom:1px solid
    }
}
.content{
    padding-bottom:15px
}
.content .col-sm-8 .glyphicon-lock{
    margin-top:23px
}
#iOSbar{
    position:fixed;
    bottom:0;
    border-top:1px solid #ddd;
    background-color:#f7f7f7;
    height:44px;
    text-align:justify;
    width:100%;
    color:#2d7ad2
}
#iOSbar .row{
    height:44px
}
#iOSbar .row a{
    color:#2d7ad2;
    height:44px;
    font-size:25px;
    padding:0;
    padding-top:2px
}
.companyform{
    max-width:350px
}
.companyform .form-item{
    padding:3px 0;
    margin-bottom:5px;
    margin-top:3px
}
.companyform .form-item.required label:after,.companyform .form-item.error label:after{
    color:red;
    content:' *';
    display:inline
}
.companyform .form-item.required label.error,.companyform .form-item.error label.error{
    color:red;
    margin:-10px 50px 5px 150px;
    width:auto
}
.companyform .form-item.required label.error:after,.companyform .form-item.error label.error:after{
    content:none
}
.companyform .form-item.required .error-message,.companyform .form-item.error .error-message{
    color:red
}
.companyform .form-item.checkbox{
    padding-left:20px;
    margin-bottom:0
}
.companyform .form-item label{
    color:#999;
    font-size:12px
}
.companyform .form-item label .required{
    display:none
}
.companyform .form-item.required.has-error .required{
    display:inline
}
.companyform .form-item.required.has-error label{
    color:#b94a48
}
.companyform .form-item .help-block{
    font-size:12px;
    font-style:italic;
    margin-bottom:0
}
.jumbotron{
    background:0;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center center;
    padding-top:25px;
    padding-bottom:10px;
    margin-bottom:0;
    font-size:16px;
    min-height:355px
}
.jumbotron table{
    line-height:1.4
}
.jumbotron h2{
    margin-top:10px
}
.jumbotron h4{
    font-size:16px
}
.offerheadline{
    color:white;
    text-shadow:black 3px 2px 5px;
    filter:glow(Color=#000000,Strength=1);
    padding-bottom:10px;
    border-radius:10px
}
.offerheadline h2{
    font-size:35px
}
.intrologo img{
    max-height:270px
}
.times{
    background:white;
    background-color:rgba(255,255,255,0.9);
    border-radius:10px;
    float:right
}
.times td{
    padding-right:15px;
    text-align:end
}
table.openingstijden td{
    padding:1px 2px 9px!important;
    text-align:center!important
}
table.openingstijden td.dagnaam,table.openingstijden td.closed{
    text-align:left!important
}
table.openingstijden td.dagnaam .small,table.openingstijden td.closed .small{
    font-size:10px;
    position:absolute;
    margin-top:18px;
    color:gray
}
table.openingstijden td.hyphen{
    width:5px!important
}
@media(max-width:1200px){
    table.openingstijden td.dagnaam .small,table.openingstijden td.closed .small{
        margin-top:17px
    }
}
@media(max-width:1008px){
    table.openingstijden td.dagnaam .small,table.openingstijden td.closed .small{
        margin-top:16px
    }
}
.timesmall{
    text-align:center
}
.timesmall p{
    margin-bottom:0;
    font-size:15px
}
.timesmall h3{
    margin:0
}
.timesmobile{
    text-align:center;
    background-color:#f0f0f0;
    border:1px solid #aeaeae;
    width:100%;
    margin-top:15px;
    padding:5px
}
.timesmobile p{
    margin-bottom:0;
    font-size:15px
}
.timesmobile h3{
    margin:0;
    margin-bottom:5px
}
.timesmobile .mobiletimetable{
    line-height:1.8;
    margin:auto;
    font-size:13px
}
.timesmobile .mobiletimetable td{
    text-align:end;
    margin:auto
}
@media(max-width:992px) and (min-width:600px){
    .timesmobile{
        text-align:center;
        background:white;
        background-color:rgba(255,255,255,0.9);
        border-radius:10px;
        float:right;
        width:200px
    }
    .timesmobile p{
        margin-bottom:0;
        font-size:15px
    }
    .timesmobile h3{
        margin:0
    }
    .timesmobile a{
        font-size:12px
    }
}
.timespagetimes a{
    display:none
}
.share{
    margin:20px 0
}
.share iframe{
    margin-bottom:4px!important
}
.share iframe.twitter-share-button{
    margin-bottom:0!important
}
footer .nav-social{
    margin-bottom:10px
}
footer .nav-social p{
    float:right
}
footer .nav-social p a{
    margin-right:0;
    margin-left:10px
}
footer .nav-social a{
    margin-right:10px
}
footer .nav-social i{
    width:20px;
    height:20px;
    font-size:25px;
    margin-right:5px;
    background:white;
    line-height:22px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
@media(max-width:767px){
    footer .nav-social i{
        width:25px;
        height:25px;
        font-size:30px;
        margin-right:15px
    }
}
footer .nav-social i.fa-facebook-square{
    color:#3b5998
}
footer .nav-social i.fa-twitter-square{
    color:#4099ff
}
footer .nav-social i.fa-google-plus-square{
    color:#dd4b39
}
footer .nav-social i.fa-linkedin-square{
    color:#007bb6
}
footer .nav-social i.fa-tumblr-square{
    color:#35465c
}
footer .nav-social i.fa-instagram{
    color:#35465c
}
footer .nav-social i.fa-lock,footer .nav-social i.fa-unlock{
    color:inherit;
    background:0;
    font-size:22px
}
footer span.lighter,footer span.lighter a{
    color:#d3d3d3
}
@media(max-width:767px){
    footer{
        margin-bottom:60px
    }
}
.contactmobile{
    background-color:#f0f0f0;
    border:1px solid #aeaeae;
    width:100%;
    margin-top:15px;
    padding:10px
}
.contactmobile .btn{
    margin-right:10px;
    margin-top:15px
}
.contactmobile h3{
    margin:0;
    margin-bottom:5px
}
.contactmobile h4{
    margin:0;
    margin-bottom:5px
}
.aboutcontacttable{
    margin-bottom:10px;
    width:100%
}
iframe.googlemaps{
    width:100%
}
.map iframe{
    width:100%;
    border:0;
    overflow:hidden;
    margin:0
}
.map img{
    width:100%
}
h1{
    font-size:20px
}
h2{
    font-size:20px
}
h3{
    font-size:17px;
    margin-bottom:0
}
.mobile{
    display:none
}
.home h1{
    font-size:20px
}
.companyform{
    max-width:500px
}
.companyform .help-block{
    overflow:hidden;
    height:0;
    font-style:italic;
    font-size:12px
}
.offerimage img{
    display:block;
    max-width:100%;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto
}
.offerimage .thumbnail{
    margin:1px
}
.offerimage .thumbnail img{
    margin-top:0;
    margin-bottom:0
}
.mobileofferimage img{
    display:block;
    max-height:50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px
}
.offercontent h2,.offercontent h1{
    font-size:30px
}
.newsitem .glyphicon{
    margin-left:-22px;
    font-size:15px;
    color:gray
}
@media(max-width:767px){
    .newsitem .glyphicon{
        margin-left:0
    }
}
.newsitem h2 a{
    color:#333
}
.newsitem img{
    float:left;
    max-width:40%;
    max-height:40%;
    margin-right:5px;
    margin-bottom:5px;
    border:3px solid white
}
.newsitem_image{
    margin-top:25px
}
.newsitem_image.visible-xs{
    margin-top:0
}
.newsitem_image.visible-xs img{
    width:40%;
    margin:0 10px 10px 0
}
@media(min-width:520px){
    .newsitem_image.visible-xs img{
        width:30%
    }
}
.newsitem_image img{
    border:3px solid white;
    -webkit-box-shadow:1px 1px 4px 0 #ebebeb;
    box-shadow:1px 1px 4px 0 #ebebeb
}
.newsnav{
    clear:both;
    text-align:right;
    margin-top:10px;
    margin-right:15px;
    padding-top:10px;
    color:#7a7a7a
}
.newsimage img{
    float:right;
    display:block;
    max-width:100%;
    margin-top:10px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    border:3px solid white;
    -webkit-box-shadow:1px 1px 4px 0 #ebebeb;
    box-shadow:1px 1px 4px 0 #ebebeb
}
.mobilenewsimage img{
    display:block;
    max-height:50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px
}
.newscontent h2,.newscontent h1{
    font-size:30px;
    margin-top:10px
}
.productcategory{
    text-align:center;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid lightgray;
    margin-top:20px;
    display:block;
    position:relative;
    -webkit-box-shadow:1px 1px 4px 0 #ebebeb;
    box-shadow:1px 1px 4px 0 #ebebeb
}
.productcategory .productcategory_header{
    border-bottom:1px solid lightgray
}
.productcategory .productcategory_header h2,.productcategory .productcategory_header h1{
    margin:20px 0 0;
    padding-bottom:20px
}
.productcategory .productcategory_header h2 a,.productcategory .productcategory_header h1 a{
    color:black;
    text-decoration:none
}
.productcategory .productcategory_header .productcategory_description{
    padding:0 15px;
    text-align:left
}
.productcategory .productcategory_controls{
    position:absolute;
    width:30%;
    top:21px;
    right:2px;
    display:block
}
.productcategory .productcategory_controls.product_index{
    left:10px;
    width:10%
}
.productcategory .productcategory_controls.product_index .productcategory_nav{
    text-align:left;
    width:100px
}
.productcategory .productcategory_controls .productcategory_name{
    width:100px;
    display:inline-block
}
.productcategory .productcategory_controls .productcategory_nav{
    text-align:right;
    display:inline-block;
    width:50px
}
.productcategory .productcategory_controls .productcategory_nav.disabled a{
    color:lightgray;
    cursor:default
}
.productcategory .productcategory_controls a{
    color:black
}
.productcategory .productcategory_content{
    position:relative;
    height:170px
}
.productcategory .productcategory_content .productcategory_product{
    height:170px;
    border-right:1px solid lightgray;
    -webkit-transition:all 400ms ease;
    -moz-transition:all 400ms ease;
    -ms-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease;
    display:inline-block
}
.productcategory .productcategory_content .productcategory_product .productcategory_image{
    height:140px;
    font-size:0;
    text-align:center;
    padding:15px;
    -webkit-transition:all 400ms ease;
    -moz-transition:all 400ms ease;
    -ms-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease
}
.productcategory .productcategory_content .productcategory_product .productcategory_image img{
    max-width:100%;
    max-height:100%;
    display:inline-block;
    vertical-align:middle
}
.productcategory .productcategory_content .productcategory_product .productcategory_image:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle
}
.productcategory .productcategory_content .productcategory_product .productcategory_details{
    opacity:0;
    position:absolute;
    height:140px;
    top:15px;
    margin-right:15px;
    text-align:left;
    -webkit-transition:all 400ms ease;
    -moz-transition:all 400ms ease;
    -ms-transition:all 400ms ease;
    -o-transition:all 400ms ease;
    transition:all 400ms ease
}
.productcategory .productcategory_content .productcategory_product .productcategory_details.details_visible{
    opacity:1
}
.productcategory .productcategory_content .productcategory_product .productcategory_details .btn{
    margin-top:10px
}
.productcategory .productcategory_content .productcategory_product.active,.productcategory .productcategory_content .productcategory_product:hover{
    -webkit-box-shadow:inset 0 0 4px 2px #ebebeb;
    box-shadow:inset 0 0 4px 2px #ebebeb
}
.productcategory .productcategory_content .productcategory_product.active .productcategory_image,.productcategory .productcategory_content .productcategory_product:hover .productcategory_image{
    opacity:.1
}
.productcategory .productcategory_content .productcategory_product.active .productcategory_details,.productcategory .productcategory_content .productcategory_product:hover .productcategory_details{
    opacity:1
}
.productcategory .productcategory_content.product_index{
    height:auto
}
.productcategory .productcategory_content.product_index .productcategory_product{
    border-bottom:1px solid lightgray
}
.product .alert-info small{
    display:block;
    margin-top:10px;
    font-style:italic
}
.additional_info{
    color:gray;
    font-style:italic
}
#CartAddProductForm{
    margin:20px 0
}
#CartAddProductForm #CartQuantity{
    width:60px;
    float:left;
    margin-right:10px
}
.btn.back-to-cart{
    margin-top:10px
}
.cart-button{
    color:white;
    border:1px solid #333;
    font-size:16px;
    padding:4px;
    width:40px;
    text-align:center;
    display:inline-block;
    float:right;
    margin:13px 15px 8px 0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px
}
.cart-button:hover{
    color:white;
    background:#333
}
.note{
    font-size:13px;
    color:gray;
    font-weight:normal
}
.options{
    font-size:13px;
    color:#333
}
ul.cart{
    padding:0
}
ul.cart li{
    display:block;
    width:100%;
    border-top:1px solid lightgray;
    padding:5px 0;
    clear:both
}
ul.cart li img{
    max-width:120px;
    height:auto;
    float:left;
    margin-right:20px;
    max-height:100px;
    padding:5px
}
@media(max-width:768px){
    ul.cart li img{
        display:none
    }
}
ul.cart li .cart_product_top{
    height:36px;
    min-height:36px;
    margin-left:140px
}
@media(max-width:768px){
    ul.cart li .cart_product_top{
        margin-left:0
    }
}
ul.cart li .cart_product_top .name{
    display:inline;
    font-weight:bold
}
@media(max-width:768px){
    ul.cart li .cart_product_top .name{
        display:block
    }
}
ul.cart li .cart_product_top .price{
    width:80px;
    text-align:right!important;
    line-height:30px;
    float:right
}
ul.cart li .cart_product_top .quantity{
    width:80px;
    padding-top:2px;
    padding-bottom:2px;
    height:28px;
    float:right
}
ul.cart li .cart_product_top .quantity input{
    width:60px
}
ul.cart li .cart_product_top .total{
    width:80px;
    text-align:right;
    line-height:30px;
    font-weight:bold;
    float:right
}
ul.cart li .cart_product_bottom{
    border-top:1px solid lightgray;
    min-height:36px;
    padding:5px 0 0 0;
    margin-left:140px
}
@media(max-width:768px){
    ul.cart li .cart_product_bottom{
        margin-left:0;
        border-top:0;
        margin-top:15px;
        padding-top:0
    }
}
ul.cart li .cart_product_bottom .delete a{
    font-size:13px;
    float:right
}
@media(max-width:768px){
    ul.cart li .cart_product_bottom .delete a{
        float:none
    }
}
ul.cart.checkout img{
    max-width:60px;
    max-height:80px
}
@media(max-width:768px){
    ul.cart.checkout img{
        display:none
    }
}
@media(max-width:768px){
    ul.cart.checkout .name{
        display:block
    }
}
ul.cart.checkout .quantity,ul.cart.checkout .price{
    line-height:30px;
    font-size:12px
}
ul.cart.checkout .cart_product_top{
    margin-left:70px;
    line-height:20px;
    height:inherit;
    min-height:inherit
}
@media(max-width:768px){
    ul.cart.checkout .cart_product_top{
        margin-left:0
    }
}
ul.cart.checkout .cart_product_top .price{
    height:inherit;
    line-height:20px;
    font-size:12px
}
ul.cart.checkout .cart_product_top .quantity{
    width:50px;
    height:inherit;
    text-align:center;
    line-height:20px;
    font-size:12px
}
ul.cart.checkout .cart_product_top .total{
    line-height:inherit;
    height:inherit
}
ul.cart.checkout .cart_product_bottom{
    margin-left:70px;
    border-top:0;
    height:inherit;
    min-height:inherit;
    padding-top:0
}
@media(max-width:768px){
    ul.cart.checkout .cart_product_bottom{
        margin-left:0;
        border-top:0;
        margin-top:20px;
        padding-top:0
    }
}
img.ideal_banner{
    float:left
}
table.cart{
    width:auto;
    float:right
}
table.cart tfoot{
    text-align:right;
    color:#666;
    font-weight:bold
}
@media(max-width:768px){
    table.cart tfoot{
        border-top:1px solid lightgray
    }
}
table.cart tfoot td{
    border:0;
    padding:2px 5px
}
table.cart tfoot .price{
    font-weight:normal;
    width:30px
}
table.cart tfoot tr.grandtotal{
    font-weight:bold;
    font-size:18px;
    color:black
}
table.cart tfoot tr.grandtotal td.grandtotal_value{
    white-space:nowrap
}
table.cart.checkout tbody .image{
    width:50px
}
table.cart.checkout tbody .image img{
    width:50px
}
table.cart.checkout tbody .quantity,table.cart.checkout tbody .price{
    line-height:30px;
    font-size:12px
}
#ShopOrderSaveForm .address{
    width:100%
}
#ShopOrderSaveForm label{
    width:150px;
    display:inline-block;
    float:left;
    line-height:40px;
    height:30px;
    clear:both
}
#ShopOrderSaveForm .input{
    display:block
}
#ShopOrderSaveForm .input.required label:after,#ShopOrderSaveForm .input.error label:after{
    color:red;
    content:' *';
    display:inline
}
#ShopOrderSaveForm .input.required label.error,#ShopOrderSaveForm .input.error label.error{
    color:red;
    margin:-10px 50px 5px 150px;
    width:auto
}
#ShopOrderSaveForm .input.required label.error:after,#ShopOrderSaveForm .input.error label.error:after{
    content:none
}
#ShopOrderSaveForm .input.required .error-message,#ShopOrderSaveForm .input.error .error-message{
    color:red
}
#ShopOrderSaveForm input[type='text'],#ShopOrderSaveForm input[type='tel'],#ShopOrderSaveForm input[type='email']{
    display:inline-block;
    width:70%;
    margin-bottom:2px
}
#ShopOrderSaveForm input[type='text'].form-error,#ShopOrderSaveForm input[type='tel'].form-error,#ShopOrderSaveForm input[type='email'].form-error{
    border:1px solid #ebccd1
}
#ShopOrderSaveForm input[type='text'].form-error:focus,#ShopOrderSaveForm input[type='tel'].form-error:focus,#ShopOrderSaveForm input[type='email'].form-error:focus{
    border:1px solid #a94442;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(165,67,68,0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(165,67,68,0.6)
}
#ShopOrderSaveForm .checkbox{
    padding:0;
    display:inline
}
#ShopOrderSaveForm input[type='checkbox']{
    margin-left:150px;
    width:30px;
    display:inline-block;
    float:left
}
@media(max-width:768px){
    #ShopOrderSaveForm input[type='checkbox']{
        margin-left:0
    }
}
#ShopOrderSaveForm .checkbox_label{
    display:inline-block;
    height:36px;
    line-height:40px;
    width:300px;
    clear:inherit
}
#ShopOrderSaveForm .payment_method label{
    float:none;
    display:block;
    line-height:25px;
    clear:none;
    width:inherit
}
#ShopOrderSaveForm .payment_method label.error{
    color:red;
    position:absolute;
    margin:-30px 0 0 200px
}
#ShopOrderSaveForm .payment_method input{
    margin-right:10px;
    float:left
}
#ShopOrderSaveForm .payment_method .error-message{
    margin-left:0
}
#ShopOrderSaveForm .payment_method .ideal{
    display:none;
    margin-left:20px
}
#ShopOrderSaveForm .payment_method .ideal label{
    font-size:13px;
    height:15px;
    line-height:15px
}
#ShopOrderSaveForm .payment_method .ideal select{
    width:200px
}
#ShopOrderSaveForm .order_note{
    float:none;
    text-align:right;
    margin-bottom:20px
}
#ShopOrderSaveForm .error-message{
    color:#a94442;
    margin-left:150px;
    margin-bottom:5px
}
#thankyou-container{
    width:80%;
    padding:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    -moz-box-shadow:0 0 2px #000;
    -webkit-box-shadow:0 0 2px #000;
    box-shadow:0 0 2px #000;
    margin:30px auto
}
.contactpagemaps h2{
    display:none
}
.gallery a.fancybox{
    width:200px;
    margin:0 20px 20px 0;
    display:block;
    float:left;
    border:4px solid white;
    -webkit-box-shadow:1px 1px 4px 0 #ebebeb;
    box-shadow:1px 1px 4px 0 #ebebeb
}
@media(max-width:768px){
    .gallery a.fancybox{
        width:28%
    }
}
@media(max-width:599px){
    .gallery a.fancybox{
        width:100%
    }
}
.infopageimagebar img:first-child{
    margin-top:20px
}
.infopageimagebar img{
    display:block;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto
}
.form-half{
    width:50%;
    margin-bottom:5px
}
.form-half:first-child{
    padding-right:5px;
    margin-bottom:10px
}
.form-half:last-child{
    padding-left:5px;
    margin-bottom:10px
}
@media(max-width:1199px){
    .times{
        font-size:14px
    }
}
@media(max-width:1008px){
    .times{
        font-size:13px
    }
}
@media(max-width:992px){
    .jumbotron{
        min-height:126px
    }
}
@media(max-width:800px){
    .jumbotron{
        font-size:14px
    }
    h2{
        margin-top:10px
    }
    p{
        font-size:14px
    }
}
@media(min-width:768px){
    .navbar>.container .navbar-brand{
        margin-left:0
    }
}
@media(max-width:767px){
    body{
        padding-top:56px
    }
    .container{
        padding:15px 15px 15px
    }
    .navbar-logo{
        float:left;
        margin:5px;
        margin-bottom:-25px;
        border:2px solid #f1f1f1;
        border:2px solid #eee;
        border:2px solid rgba(232,232,232,0.5);
        -webkit-background-clip:padding-box;
        background-clip:padding-box;
        -webkit-border-radius:2px;
        border-radius:2px
    }
    .navbar-logo a{
        border:1px solid #CCC;
        display:block;
        background:white;
        min-height:42px
    }
    .navbar-logo img{
        max-height:40px;
        max-width:170px
    }
    .offercontent h2{
        font-size:20px
    }
    .form-half{
        width:100%;
        margin-bottom:5px
    }
    .form-half:first-child{
        padding-right:0;
        margin-bottom:10px
    }
    .form-half:last-child{
        padding-left:0;
        margin-bottom:10px
    }
}
@media(max-width:599px){
    body{
        padding-top:55px
    }
    .navbar{
        margin-bottom:0
    }
    .container,.mobile{
        padding:0 15px 15px
    }
    .jumbotron{
        display:none
    }
    .home .content{
        display:none
    }
    .mobile{
        display:block
    }
    .contact-footer{
        visibility:hidden
    }
}
 
